@model EndpointMvc.Models.EndpointData
@{
    ViewBag.Title = "Endpoints";
}

<div class="container">
	<div class="row center span12 mvl">
		<script type="text/javascript">
			google_ad_client = "ca-pub-9157593394596390";
			google_ad_slot = "3200374236";
			google_ad_width = 728;
			google_ad_height = 90;
		</script>
		<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</div>
	<div class="row">
		<div class="span3">
			@Html.Partial("_EndpointNavigation",Model)
		</div>
		<div class="span9">
			@Html.DisplayFor(m => m)
		</div>
	</div>

	<div class="row center span12 mvl">
		<script type="text/javascript">
			google_ad_client = "ca-pub-9157593394596390";
			google_ad_slot = "3200374236";
			google_ad_width = 728;
			google_ad_height = 90;
		</script>
		<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</div>

	<div class="row">
		<div class="center alert alert-success">
			<strong>Powered by <a href="http://endpointmvc.bit13.com">EndpointMvc</a>.</strong>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		(function ($, window, document) {
			"use strict";
			$(function () {
				var $popover = $("[data-bootstrap-popover]");
				if ($popover.popover) {
					$popover.on("click", function (event) {
						event.preventDefault();
						event.stopPropagation();
					}).popover();
					// hide all popovers
					$(document).on("click", function () {
						$popover.popover("hide");
					});
				}

				var $tooltip = $("[data-bootstrap-tooltip]");
				if ($tooltip.tooltip) {
					$tooltip.tooltip();
				}

			});
		})(window.jQuery, window, document);
	</script>
}
