@model EndpointMvc.Models.EndpointData
@{
    ViewBag.Title = "Endpoints";
}
<div class="container">
	<div class="row">
		<div class="span3">
			@Html.Partial("_EndpointNavigation",Model)
		</div>
		<div class="span9">
			@Html.DisplayFor(m => m)
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		(function ($, window, document) {
			"use strict";
			$(function () {
				var $popover = $("[data-bootstrap-popover]");
				$popover.on("click",function(event) {
					event.preventDefault();
					event.stopPropagation();
				}).popover();

				var $tooltip = $("[data-bootstrap-tooltip]");
				$tooltip.tooltip();

				// hide all popovers
				$(document).on("click", function () {
					$popover.popover("hide");
				});
			});
		})(window.jQuery, window, document);
	</script>
}
