
<div class="row man pan metro-nav" data-spy="affix" data-offset-top="500">
	<ul class="nav man pan col-md-12 mlm">
		<li class="col-md-4 man pan"><div class="alert alert-default"><i class="fa fa-download mrs"></i>Nuget</div></li>
		<li class="col-md-2 man pan"><div class="alert alert-danger"><i class="fa fa-check mrs"></i>How</div></li>
		<li class="col-md-2 man pan"><div class="alert alert-warning"><i class="fa fa-road mrs"></i>Routes</div></li>
		<li class="col-md-4 man pan"><div class="alert alert-primary"><i class="fa fa-pencil mrs"></i>Output</div></li>
		<li class="col-md-4 man pan"><div class="alert alert-primary"><i class="fa fa-tags mrs"></i>Attributes</div></li>
		<li class="col-md-4 man pan"><div class="alert alert-success"><i class="fa fa-certificate mrs"></i>License</div></li>
		<li class="col-md-2 man pan"><div class="alert alert-danger"><i class="fa fa-leaf mrs"></i>Demo</div></li>
		<li class="col-md-2 man pan"><div class="alert alert-default"><i class="fa fa-file mrs"></i>Source</div></li>

	</ul>
</div>
