<a name="nuget"></a>
@(Html.Partial ( "_AdPartial" ))
<div class="panel panel-default man pan">
	<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-download mrm"></i>Nuget</h1></div>
	<div class="panel-body">
		<p>To install EndpointMvc, run the following command in the <a href="http://docs.nuget.org/docs/start-here/using-the-package-manager-console" class="track">Package Manager Console</a>.</p>
		<div class="nuget-badge">
			<code class="text-success">PM&gt; Install-Package EndpointMvc</code>
		</div>
	</div>
</div>