<div id="output"></div>
<div class="panel panel-default pan">
	<div class="panel-heading mbl"><h1 class="zero lowercase"><i class="fa fa-pencil mrm"></i>Output</h1></div>
	<div class="panel-body">
		<div>EndpointMvc has 3 output formats:</div>
		<div>
			<ul>
				<li>Json</li>
				<li>Xml</li>
				<li>Html</li>
			</ul>
			<p>Each of the output formats have an action, with <code>html</code> being the default.</p>
			<p>Your action calls should look like the following:</p>
			<div><code>~/endpoints/{format}/</code></div>
		</div>
	</div>
</div>
