<div id="how-it-works">
	<div class="panel panel-default pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-check mrm"></i>How it works</h1></div>
		<div class="panel-body">
			<div>
				EndpointMvc uses attributes that you already apply to your MVC controller actions. It also uses a couple custom attributes to add more meta data to be used for the documentation.
				It then uses Reflection to gather the information needed to build the documentation. So all you have to do is write your code, EndpointMvc will build the documentation.
			</div>
		</div>
	</div>
</div>