<div id="output">
	<div class="panel panel-default pan">
		<div class="panel-heading mbl"><h1 class="zero lowercase"><i class="fa fa-pencil mrm"></i>Output</h1></div>
		<div class="panel-body">
			<div>EndpointMvc has the following output formats:</div>
			<div>
				<ul>
					<li><a href="http://www.json.org/">JSON</a></li>
					<li><a href="http://bsonspec.org/">BSON</a></li>
					<li><a href="http://www.w3.org/TR/REC-xml/">XML</a></li>
					<li><a href="http://www.w3.org/TR/html5/">HTML</a></li>
				</ul>
				<p>Each of the output formats have an action, with <code>html</code> being the default.</p>
				<p>Your action calls should look like the following:</p>
				<div><code>~/endpoints/{format}/</code></div>
			</div>
		</div>
	</div>
</div>