@model EndpointMvc.Models.EndpointArea

<div class="" id="@Model.QualifiedName.Replace(".","_")">
	<div class="page-header">
		<h1><a class="" href="@Url.Action("", new { controller = "Endpoints", area = Model.Name })">@(String.IsNullOrWhiteSpace(Model.Name) ? "[Default]" : Model.Name )</a></h1>
	</div>
	<div>
		@foreach ( var item in Model.ServicesList ) {
			@Html.DisplayFor(m => item)
		}
	</div>
</div>