@model EndpointMvc.Models.EndpointService

<div class="well">
	<a name="@Model.QualifiedName"></a>
	<h2>@Model.Name</h2>
	<div>@Model.Description</div>
	<div>
		@foreach ( var item in Model.EndpointList ) {
			@Html.DisplayFor(m => item)
		}
	</div>
</div>