@model EndpointMvc.Models.EndpointData
@* class: left | right : position the navigation on the left or right *@
@* class: expanded | collapsed : expanded = open; collapsed = closed *@
@* class: active colors:
	- epm-nav-default
	- epm-nav-primary
	- epm-nav-warning
	- epm-nav-danger
	- epm-nav-info
	- epm-nav-success
*@
<div class="right epm-nav expanded epm-nav-primary">
	<div class="epm-nav-host">
		<div class="navbar-toggle epm-nav-toggle" title="Close" data-epm-target=".epm-nav" data-epm-toggle="expanded">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</div>
	</div>
	<ul class="nav">
		<li class="no-filter nav-search man mbs pan">
			<div class="form-group man pan">
				<input type="search" placeholder="Search" class="search-field man" />
				<button type="button" class="clear hidden" title="Clear">&times;</button>
			</div>
		</li>
		@foreach ( var item in Model.Areas ) {
			<li class="">
				<a href="#@(item.QualifiedName.Replace(".","_"))"><i class="fa fa-folder mrs mls"></i>@(String.IsNullOrWhiteSpace ( item.Name ) ? "[Default]" : item.Name)</a>
				<ul class="nav nested">
					@foreach ( var secitem in item.ServicesList ) {
						<li>
							<a href="#@(secitem.QualifiedName.Replace(".","_"))"><i class="fa fa-code-fork mrs plm mlm"></i>@secitem.Name</a>
							<ul class="nav nested">
								@foreach ( var epitem in secitem.EndpointList ) {
									<li><a href="#@(epitem.QualifiedName.Replace(".","_"))_@(String.Join ( "_", epitem.HttpMethods ))"><i class="fa fa-code mrs pll mll"></i>@epitem.Name</a></li>
								}
							</ul>
						</li>
					}
				</ul>
			</li>
			<li class="divider"></li>
		}
		@* This must be left in the navigation *@
		<li class="bold no-filter"><a href="http://endpointmvc.bit13.com/"><i class="fa fa-external-link-square mrs"></i>Powered by EndpointMvc</a></li>
	</ul>
</div>

</div>