<div class="row pan man">
	<div class="col-md-12">
		<div class="text-center alert alert-default">
			@* This must remain in the view *@
			<strong>Powered by <a href="http://endpointmvc.bit13.com">EndpointMvc</a>.</strong>
		</div>
	</div>
</div>
