html {
	cursor: default;
}

body {
	margin-top: 30px;
	margin-bottom: 45px;
}

.endpoint-nav-bar {
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

	.endpoint-nav-bar.affix {
		width: 258px;
	}

	.endpoint-nav-bar .endpoint-nav-sub-bar {
		margin: 0;
		padding: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}


	.endpoint-nav-bar > li:first-child > a {
		-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}


.endpoint-nav-sub-bar > li:first-child > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


.endpoint-nav-bar > li > a {
	display: block;
	margin: 0;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.endpoint-nav-sub-bar.l2 > li > a {
	padding-left: 35px;
}

.endpoint-nav-sub-bar.l3 > li > a {
	padding-left: 55px;
}

.endpoint-nav-bar .icon-chevron-right {
	opacity: .25;
	float: right;
	margin-top: 10px;
	margin-right: 8px;
}

.op25 {
	opacity: .25;
}

.cursor-help {
	cursor: help;
}

.nowrap .tooltip .tooltip-inner {
	white-space: nowrap;
	max-width: 400px !important;
}

.nuget {
	font-family: Consolas, "Courier New", Courier, monospace;
	padding: 0 0 0 10px;
	background-color: #282424;
	color: #3fba2c;
	border: solid 6px #888;
	border-radius: 6px;
}

.caret.caret-white {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar .brand {
	float: right;
	color: #000;
	font-weight:bold;

	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 30px rgba(255,255,255,.225);
	text-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 30px rgba(255,255,255,.225);
}

	.navbar .brand:hover {
	}

.navbar a {
	-webkit-transition: color ease-in-out 500ms;
	-moz-transition: color ease-in-out 500ms;
	-o-transition: color ease-in-out 500ms;
	transition: color ease-in-out 500ms;
}

	.navbar a b.caret-white,
	.navbar a i[class^="icon-"], .navbar a i[class*=" icon-"] {
		-webkit-transition: all ease-in-out 500ms;
		-moz-transition: all ease-in-out 500ms;
		-o-transition: all ease-in-out 500ms;
		transition: all ease-in-out 500ms;
		opacity: .6;
	}

.navbar .dropdown-menu a,
.navbar .dropdown-menu a i[class^="icon-"], .navbar .dropdown-menu a i[class*=" icon-"] {
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
	opacity: 1;
}

.navbar a:hover b.caret-white,
.navbar a:hover i[class^="icon-"],
.navbar a:hover i[class*=" icon-"],
.navbar a:active b.caret-white,
.navbar a:active i[class^="icon-"],
.navbar a:active i[class*=" icon-"],
.navbar a:focus b.caret-white,
.navbar a:focus i[class^="icon-"],
.navbar a:focus i[class*=" icon-"] {
	opacity: 1;
}

.center {
	text-align:center;
}

/* main layout
----------------------------------------------------------*/

footer {
	text-align: center;
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 30px;
	padding: 10px 0 0 0;
}


button.transparent {
	border: none;
	background: transparent;
}

.absolute {
	position: absolute;

}

.apr0 {
	float: right;
}
.tar {
	text-align: right;
}

.right {
	float: right;
}

.left { 
	float:left;
}

.fixed {
	position: fixed;
}

/* page elements
----------------------------------------------------------*/
.featured.hero-unit {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-right: 80px;
}

/* margin */
.man, .mvn, .mtn {
	margin-top: 0;
}

.man, .mvn, .mbn {
	margin-bottom: 0;
}

.man, .mhn, .mln {
	margin-left: 0;
}

.man, .mhn, .mrn {
	margin-right: 0;
}

.mas, .mvs, .mts {
	margin-top: 5px;
}

.mas, .mvs, .mbs {
	margin-bottom: 5px;
}

.mas, .mhs, .mls {
	margin-left: 5px;
}

.mas, .mhs, .mrs {
	margin-right: 5px;
}

.mam, .mvm, .mtm {
	margin-top: 10px;
}

.mam, .mvm, .mbm {
	margin-bottom: 10px;
}

.mam, .mhm, .mlm {
	margin-left: 10px;
}

.mam, .mhm, .mrm {
	margin-right: 10px;
}

.mal, .mvl, .mtl {
	margin-top: 15px;
}

.mal, .mvl, .mbl {
	margin-bottom: 15px;
}

.mal, .mhl, .mll {
	margin-left: 15px;
}

.mal, .mhl, .mrl {
	margin-right: 15px;
}

/* Padding */

.pan, .pvn, .ptn {
	padding-top: 0;
}

.pan, .pvn, .pbn {
	padding-bottom: 0;
}

.pan, .phn, .pln {
	padding-left: 0;
}

.pan, .phn, .prn {
	padding-right: 0;
}

.pas, .pvs, .pts {
	padding-top: 5px;
}

.pas, .pvs, .pbs {
	padding-bottom: 5px;
}

.pas, .phs, .pls {
	padding-left: 5px;
}

.pas, .phs, .prs {
	padding-right: 5px;
}

.pam, .pvm, .ptm {
	padding-top: 10px;
}

.pam, .pvm, .pbm {
	padding-bottom: 10px;
}

.pam, .phm, .plm {
	padding-left: 10px;
}

.pam, .phm, .prm {
	padding-right: 10px;
}

.pal, .pvl, .ptl {
	padding-top: 15px;
}

.pal, .pvl, .pbl {
	padding-bottom: 15px;
}

.pal, .phl, .pll {
	padding-left: 15px;
}

.pal, .phl, .prl {
	padding-right: 15px;
}
