html {
	cursor: default;
}

body {
	margin-top: 30px;
	margin-bottom: 45px;
}

.endpoint-nav-bar {
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

	.endpoint-nav-bar.affix {
		width: 258px;
	}

	.endpoint-nav-bar .endpoint-nav-sub-bar {
		margin: 0;
		padding: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}


	.endpoint-nav-bar > li:first-child > a {
		-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}


.endpoint-nav-sub-bar > li:first-child > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


.endpoint-nav-bar > li > a {
	display: block;
	margin: 0;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.endpoint-nav-sub-bar.l2 > li > a {
	padding-left: 35px;
}

.endpoint-nav-sub-bar.l3 > li > a {
	padding-left: 55px;
}

.endpoint-nav-bar .icon-chevron-right {
	opacity: .25;
	float: right;
	margin-top: 10px;
	margin-right: 8px;
}

.op25 {
	opacity: .25;
}

.cursor-help {
	cursor: help;
}

.nowrap .tooltip .tooltip-inner {
	white-space: nowrap;
	max-width: 400px !important;
}

.nuget {
	font-family: Consolas, "Courier New", Courier, monospace;
	padding: 0 0 0 10px;
	background-color: #000;
	color: #3fba2c;
	border: solid 6px #888;
	border-radius: 6px;
}

.caret.caret-white {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar .brand {
	float: right;
	color: #000;
	font-weight:bold;

	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 30px rgba(255,255,255,.225);
	text-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 30px rgba(255,255,255,.225);
}

	.navbar .brand:hover {
	}

.navbar a {
	-webkit-transition: color ease-in-out 500ms;
	-moz-transition: color ease-in-out 500ms;
	-o-transition: color ease-in-out 500ms;
	transition: color ease-in-out 500ms;
}

	.navbar a b.caret-white,
	.navbar a i[class^="icon-"], .navbar a i[class*=" icon-"] {
		-webkit-transition: all ease-in-out 500ms;
		-moz-transition: all ease-in-out 500ms;
		-o-transition: all ease-in-out 500ms;
		transition: all ease-in-out 500ms;
		opacity: .6;
	}

.navbar .dropdown-menu a,
.navbar .dropdown-menu a i[class^="icon-"], .navbar .dropdown-menu a i[class*=" icon-"] {
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
	opacity: 1;
}

.navbar a:hover b.caret-white,
.navbar a:hover i[class^="icon-"],
.navbar a:hover i[class*=" icon-"],
.navbar a:active b.caret-white,
.navbar a:active i[class^="icon-"],
.navbar a:active i[class*=" icon-"],
.navbar a:focus b.caret-white,
.navbar a:focus i[class^="icon-"],
.navbar a:focus i[class*=" icon-"] {
	opacity: 1;
}

/* main layout
----------------------------------------------------------*/

footer {
	text-align: center;
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 30px;
	padding: 10px 0 0 0;
}


/* page elements
----------------------------------------------------------*/
.featured.hero-unit {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-right: 80px;
}


/* ordered list */
ol.round {
	list-style-type: none;
	padding-left: 0;
}

	ol.round li {
		margin: 25px 0;
		padding-left: 45px;
	}

		ol.round li.zero {
			background: url("../Images/orderedList0.png") no-repeat;
		}

		ol.round li.one {
			background: url("../Images/orderedList1.png") no-repeat;
		}

		ol.round li.two {
			background: url("../Images/orderedList2.png") no-repeat;
		}

		ol.round li.three {
			background: url("../Images/orderedList3.png") no-repeat;
		}

		ol.round li.four {
			background: url("../Images/orderedList4.png") no-repeat;
		}

		ol.round li.five {
			background: url("../Images/orderedList5.png") no-repeat;
		}

		ol.round li.six {
			background: url("../Images/orderedList6.png") no-repeat;
		}

		ol.round li.seven {
			background: url("../Images/orderedList7.png") no-repeat;
		}

		ol.round li.eight {
			background: url("../Images/orderedList8.png") no-repeat;
		}

		ol.round li.nine {
			background: url("../Images/orderedList9.png") no-repeat;
		}

/* content */
article {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 25%;
}

	aside ul {
		list-style: none;
		padding: 0;
	}

		aside ul li {
			background: url("../Images/bullet.png") no-repeat 0 50%;
			padding: 2px 0 2px 20px;
		}

.label {
	font-weight: 700;
}

/* login page */
#loginForm {
	border-right: solid 2px #c8c8c8;
	float: left;
	width: 55%;
}

	#loginForm .validation-error {
		display: block;
		margin-left: 15px;
	}

	#loginForm .validation-summary-errors ul {
		margin: 0;
		padding: 0;
	}

	#loginForm .validation-summary-errors li {
		display: inline;
		list-style: none;
		margin: 0;
	}

	#loginForm input {
		width: 250px;
	}

		#loginForm input[type="checkbox"],
		#loginForm input[type="submit"],
		#loginForm input[type="button"],
		#loginForm button {
			width: auto;
		}

#socialLoginForm {
	margin-left: 40px;
	float: left;
	width: 40%;
}

	#socialLoginForm h2 {
		margin-bottom: 5px;
	}

#socialLoginList button {
	margin-bottom: 12px;
}

#logoutForm {
	display: inline;
}

/* contact */
.contact h3 {
	font-size: 1.2em;
}

.contact p {
	margin: 5px 0 0 10px;
}

.contact iframe {
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* forms */
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

	fieldset legend {
		display: none;
	}

	fieldset ol {
		padding: 0;
		list-style: none;
	}

		fieldset ol li {
			padding-bottom: 5px;
		}
/* styles for validation helpers */
.field-validation-error {
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid {
	display: none;
}




/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

	/* header
    ----------------------------------------------------------*/
	header .float-left,
	header .float-right {
		float: none;
	}

	/* logo */
	header .site-title {
		margin: 10px;
		text-align: center;
	}

	/* login */
	#login {
		font-size: .85em;
		margin: 0 0 12px;
		text-align: center;
	}

		#login ul {
			margin: 5px 0;
			padding: 0;
		}

		#login li {
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#login a {
			background: none;
			color: #999;
			font-weight: 600;
			margin: 2px;
			padding: 0;
		}

			#login a:hover {
				color: #333;
			}

	/* menu */
	nav {
		margin-bottom: 5px;
	}

	ul#menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}

		ul#menu li {
			margin: 0;
			padding: 0;
		}


	/* main layout
    ----------------------------------------------------------*/
	.main-content,
	.featured + .main-content {
		background-position: 10px 0;
	}

	.content-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}

	.featured .content-wrapper {
		padding: 10px;
	}

	/* page content */
	article, aside {
		float: none;
		width: 100%;
	}

	/* ordered list */
	ol.round {
		list-style-type: none;
		padding-left: 0;
	}

		ol.round li {
			padding-left: 10px;
			margin: 25px 0;
		}

			ol.round li.zero,
			ol.round li.one,
			ol.round li.two,
			ol.round li.three,
			ol.round li.four,
			ol.round li.five,
			ol.round li.six,
			ol.round li.seven,
			ol.round li.eight,
			ol.round li.nine {
				background: none;
			}

	/* features */
	section.feature {
		float: none;
		padding: 10px;
		width: auto;
	}

		section.feature img {
			color: #999;
			content: attr(alt);
			font-size: 1.5em;
			font-weight: 600;
		}

	/* forms */
	input {
		width: 90%;
	}

	/* login page */
	#loginForm {
		border-right: none;
		float: none;
		width: auto;
	}

		#loginForm .validation-error {
			display: block;
			margin-left: 15px;
		}

	#socialLoginForm {
		margin-left: 0;
		float: none;
		width: auto;
	}


	/* footer
    ----------------------------------------------------------*/
	footer .float-left,
	footer .float-right {
		float: none;
	}

	footer {
		text-align: center;
		height: auto;
		padding: 10px 0;
	}

		footer p {
			margin: 0;
		}
}



/* margin */
.man, .mvn, .mtn {
	margin-top: 0;
}

.man, .mvn, .mbn {
	margin-bottom: 0;
}

.man, .mhn, .mln {
	margin-left: 0;
}

.man, .mhn, .mrn {
	margin-right: 0;
}

.mas, .mvs, .mts {
	margin-top: 5px;
}

.mas, .mvs, .mbs {
	margin-bottom: 5px;
}

.mas, .mhs, .mls {
	margin-left: 5px;
}

.mas, .mhs, .mrs {
	margin-right: 5px;
}

.mam, .mvm, .mtm {
	margin-top: 10px;
}

.mam, .mvm, .mbm {
	margin-bottom: 10px;
}

.mam, .mhm, .mlm {
	margin-left: 10px;
}

.mam, .mhm, .mrm {
	margin-right: 10px;
}

.mal, .mvl, .mtl {
	margin-top: 15px;
}

.mal, .mvl, .mbl {
	margin-bottom: 15px;
}

.mal, .mhl, .mll {
	margin-left: 15px;
}

.mal, .mhl, .mrl {
	margin-right: 15px;
}

/* Padding */

.pan, .pvn, .ptn {
	padding-top: 0;
}

.pan, .pvn, .pbn {
	padding-bottom: 0;
}

.pan, .phn, .pln {
	padding-left: 0;
}

.pan, .phn, .prn {
	padding-right: 0;
}

.pas, .pvs, .pts {
	padding-top: 5px;
}

.pas, .pvs, .pbs {
	padding-bottom: 5px;
}

.pas, .phs, .pls {
	padding-left: 5px;
}

.pas, .phs, .prs {
	padding-right: 5px;
}

.pam, .pvm, .ptm {
	padding-top: 10px;
}

.pam, .pvm, .pbm {
	padding-bottom: 10px;
}

.pam, .phm, .plm {
	padding-left: 10px;
}

.pam, .phm, .prm {
	padding-right: 10px;
}

.pal, .pvl, .ptl {
	padding-top: 15px;
}

.pal, .pvl, .pbl {
	padding-bottom: 15px;
}

.pal, .phl, .pll {
	padding-left: 15px;
}

.pal, .phl, .prl {
	padding-right: 15px;
}
