
<nav class="navbar-fixed-top navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="@Url.Action("","")">EndpontMvc</a>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("Demo", "", "endpoints")</li>
				<li class="divider-vertical"></li>
				<li><a href="https://github.com/camalot/endpointmvc/">Source Code</a></li>
				<li><a href="https://nuget.org/packages/endpointmvc/">Nuget Package</a></li>
				<li class="divider-vertical"></li>
				<li><a href="https://github.com/camalot/EndpointMvc/blob/master/LICENSE.md">License</a></li>
			</ul>
		</div>
	</div>
</nav>