body {
	padding-bottom: 40px;
	padding-top: 40px;
	cursor: default;
}

.transparent {
	background-color: transparent;
	border: 0;
}

.cursor-help {
	cursor: help;
}


.epm-nav {
	border: solid 1px rgb(200,200,200);
	background-color: #fff;
	min-width: 250px;
}

.epm-nav li > a {
	padding: 5px;
}


.metro-nav {
	margin: 0 0 20px 0;
	padding: 0;
}

.metro-nav > ul.nav > li {
	font-size: 2em;
	margin:0 0 2px 0;
	padding: 0;
}

.metro-nav > ul.nav > li > .alert {
	margin: 0 3px 0 0;
}
