@model EndpointMvc.Models.EndpointData
<div class="epm-nav expanded epm-nav-success">
	<div class="epm-nav-host">
		<div class="navbar-toggle epm-nav-toggle" title="Navigation" data-epm-target=".epm-nav" data-epm-toggle="expanded">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</div>
	</div>

	<ul class="nav">
		@foreach ( var item in Model.Areas ) {
			<li class="">
				<a href="#@(item.QualifiedName.Replace(".","_"))"><i class="fa fa-folder mrs mls"></i>@(String.IsNullOrWhiteSpace ( item.Name ) ? "[Default]" : item.Name)</a>
				<ul class="nav nested">
					@foreach ( var secitem in item.ServicesList ) {
						<li>
							<a href="#@(secitem.QualifiedName.Replace(".","_"))"><i class="fa fa-code-fork mrs plm mlm"></i>@secitem.Name</a>
							<ul class="nav nested">
								@foreach ( var epitem in secitem.EndpointList ) {
									<li><a href="#@(epitem.QualifiedName.Replace(".","_"))_@(String.Join ( "_", epitem.HttpMethods ))"><i class="fa fa-code mrs pll mll"></i>@epitem.Name</a></li>
								}
							</ul>
						</li>
					}
				</ul>
			</li>
			<li class="divider"></li>
		}

		<li class="bold"><a href="http://endpointmvc.bit13.com/"><i class="fa fa-external-link-square mrs"></i>Powered by EndpointMVC</a></li>
	</ul>
</div>