@model EndpointMvc.Models.EndpointData
@{
	ViewBag.Title = "Endpoints";
}
@(Html.Partial ( "_EndpointNavigation", Model ))

<div class="container epm-content">
	<div class="row">
		<div class="row center col-md-12 mvl">
			@* You can remove this but I would appreciate if you left it in *@
			<script type="text/javascript">
				google_ad_client = "ca-pub-9157593394596390";
				google_ad_slot = "3200374236";
				google_ad_width = 728;
				google_ad_height = 90;
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		</div>
		<div class="row man pan">
			<div class="col-md-12 man pan">
				@(Html.DisplayFor ( m => m ))
			</div>
		</div>

		<div class="row center col-md-12 mvl">
			@* You can remove this but I would appreciate if you left it in *@
			<script type="text/javascript">
				google_ad_client = "ca-pub-9157593394596390";
				google_ad_slot = "3200374236";
				google_ad_width = 728;
				google_ad_height = 90;
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		</div>

		<div class="row pan man">
			<div class="col-md-12">
				<div class="center alert alert-default man pan">
					@* This must remain in the view *@
					<strong>Powered by <a href="http://endpointmvc.bit13.com">EndpointMvc</a>.</strong>
				</div>
			</div>
		</div>
	</div>
</div>

@section Styles {
	@(Styles.Render ( "~/bundles/endpointmvc/css" ))
}

@section Scripts {
	@(Scripts.Render ( "~/bundles/endpointmvc/js" ))
}
