@using EndpointMvc.Extensions;
@using EndpointMvc.Models;

@model Gist
<div class="gist-container">
	@if ( !String.IsNullOrWhiteSpace ( Model.Title ) ) {
		<h4 class="muted">@(Model.Title)</h4>
	}
	@if ( !String.IsNullOrWhiteSpace ( Model.Description ) ) {
		<blockquote class="pam mvm muted">@Model.Description</blockquote>
	}
	<script src="https://gist.github.com/@(Model.Id).js"></script>
</div>